<meta http-equiv="Access-Control-Allow-Origin" content="*">
<div class="modal-header">
  <h4 class="modal-title pull-left">{{modalHeaderText}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="driverInfoForm" class="bs-example bs-example-form" role="form" method="post"
        enctype="multipart/form-data">
    <input style="display: none"/>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-xs-6">
        <!--angular中使用bootstrap的输入框组方式改变了，不再是之前的那种写法，奇怪的是同样的版本为什么这里就不行了-->
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*姓名 </span>
          </div>
          <input name="name" class="form-control" type="text" [disabled]="editorStatus" [(ngModel)]="driver.name"/>
        </div>
        <br/>

        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*手机号</span>
          </div>
          <input name="phone_number" class="form-control" type="text" [disabled]="editorStatus" [(ngModel)]="driver.phone_number"/>
        </div>
        <br/>

        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*身份证</span>
          </div>
          <input name="person_id" class="form-control" type="text" [disabled]="editorStatus" [(ngModel)]="driver.person_id" (change)="setBirthday()"/>
        </div>
        <br/>

        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*性 别</span>
          </div>
          <!--注意这里使用[value],还是value差别很大，使用前者会随着控制器中绑定数据的改变而改变，后者不会。
          后者实际上绑定的是html属性值（但实际不影响，因为表单提交的是dom属性值）-->
          <select name="sex" class="form-control" [disabled]="editorStatus" [value]="driver.sex">
            <option value="女">女</option>
            <option value="男">男</option>
          </select>
        </div>
        <br/>

        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*出生日期</span>
          </div>
          <input name="birthday" style="background-color: white" class="form-control" type="text"
                 readonly [disabled]="editorStatus" [value]="driver.birthday | date : 'yyyy-MM-dd'"/>
        </div>
        <br/>
      </div>
      <div class="col-xs-4 col-sm-4 col-xs-6">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*国籍</span>
          </div>
          <input name="nationality" class="form-control" type="text" [disabled]="editorStatus" [(ngModel)]="driver.nationality"/>
        </div>
        <br/>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*婚姻状态</span>
          </div>
          <select name="marital_status" class="form-control" [disabled]="editorStatus" [value]="driver.marital_status">
            <option value="false">未婚</option>
            <option value="true">已婚</option>
          </select>
        </div>
        <br/>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*所属单位</span>
          </div>
          <input  name="company" class="form-control" type="text" [disabled]="editorStatus" [(ngModel)]="driver.company"/>
        </div>
        <br/>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">外语能力</span>
          </div>
          <input name="foreign_language_ability" class="form-control" type="text" [disabled]="editorStatus" [value]="driver.foreign_language_ability" />
        </div>
        <br/>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"> 学 历 </span>
          </div>
          <input name="education" class="form-control" type="text" [disabled]="editorStatus" [value]="driver.education"/>
        </div>
        <br/>
      </div>
      <div class="col-xs-4 col-sm-4 col-xs-6 ">
        <!--img用于图片回显-->
        <div align="center">
          <img id="photoImg" src="http://localhost:8080/driverImg/{{driver.photo}}" (onload)="photoCut(this)"/>
        </div>
        <br/><br/>
        <div class="file-input file-input-new" data-provides="fileinput" id="uploadImgDiv" align="center">
          <input type="file" name="photo" id="photo">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="editorStatus" data-dismiss="modal" (click)="submit()">{{modalFooterText}}</button>
</div>



