<div class="modal-header">
  <h4 class="modal-title pull-left">详情</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="driverInfoForm" class="bs-example bs-example-form" role="form" method="post"
        enctype="multipart/form-data">
    <input style="display: none"/>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-xs-6">
        <div class="input-group">
          <span class="input-group-addon">* 姓 名 </span>
          <input class="form-control" type="text"/>
        </div>
        <br/>
        <div class="input-group">
          <span class="input-group-addon">* 手机号</span>
          <input id="phone_number" name="phone_number" class="form-control" type="text"/>
        </div>
        <br/>
        <div class="input-group">
          <span class="input-group-addon">*身份证号</span>
          <input id="person_id" name="person_id" class="form-control" type="text"/>
        </div>
        <br/>
        <div class="input-group">
          <span class="input-group-prepend">* 性 别 </span>
          <select id="sex" class="form-control" name="sex">
            <option>男</option>
            <option>女</option>
          </select>
        </div>
        <br/>
        <div class="input-group">
          <span class="inp">*出生日期</span>
          <input id="birthday" name="birthday" style="background-color: white" class="form-control" type="text"
                 readonly/>
        </div>
        <br/>
      </div>
      <div class="col-xs-4 col-sm-4 col-xs-6">
        <div class="input-group input-group-sm">
          <span class="inp">*国籍</span>
          <input id="nationality" name="nationality" class="form-control" type="text"/>
        </div>
        <br/>
        <div class="input-group">
          <span class="input-g">*婚姻状态</span>
          <select id="marital_status" class="form-control" name="marital_status">
            <option>未婚</option>
            <option>已婚</option>
          </select>
        </div>
        <br/>
        <div class="input-group">
          <span class="input-group-addon">*所属单位</span>
          <input id="company" name="company" class="form-control" type="text"/>
        </div>
        <br/>
        <div class="input-group">
          <span class="input-group-addon">外语能力</span>
          <input id="foreign_language_ability" name="foreign_language_ability" class="form-control" type="text"
                 value=""/>
        </div>
        <br/>
        <div class="input-group">
          <span class="input-group-addon"> 学 历 </span>
          <input id="education" name="education" class="form-control" type="text" value=""/>
        </div>
        <br/>
      </div>
      <div class="col-xs-4 col-sm-4 col-xs-6 ">
        <%&#45;&#45;img用于图片回显&#45;&#45;%>
        <div align="center">
          <img id="photoImg" src=""/>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modalRef.hide()">提交</button>
</div>



