<div class="modal-header">
  <h4 class="modal-title pull-left">{{modalHeaderText}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="driverInfoForm" class="bs-example bs-example-form" role="form" method="post"
        enctype="multipart/form-data">
    <input style="display: none"/>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-xs-6">
        <!--angular中的输入框组改变了，不再是之前的那种写法，奇怪的是同样的版本为什么这里就不行了-->
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*姓名 </span>
          </div>
          <input name="name" class="form-control" type="text" [disabled]="editorStatus" value="{{driver.name}}" (change)="check($event)"/>
        </div>
        <br/>

        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*手机号</span>
          </div>
          <input name="phone_number" class="form-control" type="text" [disabled]="editorStatus" value="{{driver.phone_number}}" />
        </div>
        <br/>

        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*身份证</span>
          </div>
          <input name="phone_number" class="form-control" type="text" [disabled]="editorStatus" value="{{driver.person_id}}" />
        </div>
        <br/>

        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*性 别</span>
          </div>
          <select id="sex" class="form-control" name="sex" [disabled]="editorStatus" value="{{driver.sex}}">
            <option value="女">女</option>
            <option value="男">男</option>
          </select>
        </div>
        <br/>

        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*出生日期</span>
          </div>
          <input style="background-color: white" class="form-control" type="text"
                 readonly [disabled]="editorStatus" value="{{driver.birthday |date:'yyyy-MM-dd'}}"/>
        </div>
        <br/>
      </div>
      <div class="col-xs-4 col-sm-4 col-xs-6">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*国籍</span>
          </div>
          <input class="form-control" type="text" [disabled]="editorStatus" value="{{driver.nationality}}"/>
        </div>
        <br/>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*婚姻状态</span>
          </div>
          <select  class="form-control" name="marital_status" [disabled]="editorStatus" value="{{driver.marital_status}}">
            <option value="false">未婚</option>
            <option value="true">已婚</option>
          </select>
        </div>
        <br/>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">*所属单位</span>
          </div>
          <input  class="form-control" type="text" [disabled]="editorStatus" value="{{driver.company}}"/>
        </div>
        <br/>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">外语能力</span>
          </div>
          <input class="form-control" type="text" [disabled]="editorStatus" value="{{driver.foreign_language_ability}}" />
        </div>
        <br/>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"> 学 历 </span>
          </div>
          <input class="form-control" type="text" [disabled]="editorStatus" value="{{driver.education}}"/>
        </div>
        <br/>
      </div>
      <div class="col-xs-4 col-sm-4 col-xs-6 ">
        <!--img用于图片回显-->
        <div align="center">
          <img id="photoImg" src=""/>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="editorStatus" data-dismiss="modal" (click)="submit()">{{modalFooterText}}</button>
</div>



