<div class="container" style="text-align: center">
  <br/>
  <br/>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-xs-6 "></div>
    <div class="col-xs-4 col-sm-4 col-xs-6 success" >
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="usernameC" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="passwordC" placeholder="Password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <div class="col-xs-4 col-sm-4 col-xs-6 "></div>
    </div>
  </div>
</div>
